@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  width: 100%;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inria Serif", serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-inria {
  font-family: "Inria Serif", serif;
}

@media screen and (max-width: 768px) {
  #mob-nav.active {
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    top: 4rem;
    left: 0;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    height: calc(100vh - 4rem);
    right: 0;
    z-index: 1000;
    a {
      font-size: 1.5rem;
    }
  }
}
